<a href="https://colab.research.google.com/github/voknerog/pandas_numpy_matplotlib/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Import the numpy package under the name np (★☆☆)

In [97]:
import numpy as np

#### 2. Print the numpy version and the configuration (★☆☆)

In [98]:
print(np.__version__)

1.21.6

#### 3. Create a null vector of size 10 (★☆☆)

In [99]:
n = 10
a_3 = np.zeros(n)

#### 4. How to find the memory size of any array (★☆☆)

In [100]:
res_3 = a_3.nbytes

#### 5. How to get the documentation of the numpy add function from the command line? (★☆☆)

In [101]:
res_5 = [np.info(np.add), np.info(np.array)]

add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

Add arguments element-wise.

Parameters
----------
x1, x2 : array_like
    The arrays to be added.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
add : ndarray or scalar
    The sum of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` + `x2` in terms of array broadcasting.

Examples
--------
>>> np.add(1.0, 4.0)
5.0
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.add(x1, x2)
array([[  0.,   2.,   4.],
       [  3.,   5.,   7.],
       [  6.,   8.,  10.]])

The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 + x2
array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])
array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
      like=None)

Create an array.

Parameters
----------
object : array_like
    An array, any object exposing the array interface, an object whose
    __array__ method returns an array, or any (nested) sequence.
dtype : data-type, optional
    The desired data-type for the array.  If not given, then the type will
    be determined as the minimum type required to hold the objects in the
    sequence.
copy : bool, optional
    If true (default), then the object is copied.  Otherwise, a copy will
    only be made if __array__ returns a copy, if obj is a nested sequence,
    or if a copy is needed to satisfy any of the other requirements
    (`dtype`, `order`, etc.).
order : {'K', 'A', 'C', 'F'}, optional
    Specify the memory layout of the array. If object is not an array, the
    newly created array will be in C order (row major) unless 'F' is
    specified, in which case it will be in Fortran order (column major).
    If object is an array the following holds.

    ===== ========= ===================================================
    order  no copy                     copy=True
    ===== ========= ===================================================
    'K'   unchanged F & C order preserved, otherwise most similar order
    'A'   unchanged F order if input is F and not C, otherwise C order
    'C'   C order   C order
    'F'   F order   F order
    ===== ========= ===================================================

    When ``copy=False`` and a copy is made for other reasons, the result is
    the same as if ``copy=True``, with some exceptions for 'A', see the
    Notes section. The default order is 'K'.
subok : bool, optional
    If True, then sub-classes will be passed-through, otherwise
    the returned array will be forced to be a base-class array (default).
ndmin : int, optional
    Specifies the minimum number of dimensions that the resulting
    array should have.  Ones will be pre-pended to the shape as
    needed to meet this requirement.
like : array_like
    Reference object to allow the creation of arrays which are not
    NumPy arrays. If an array-like passed in as ``like`` supports
    the ``__array_function__`` protocol, the result will be defined
    by it. In this case, it ensures the creation of an array object
    compatible with that passed in via this argument.

    .. versionadded:: 1.20.0

Returns
-------
out : ndarray
    An array object satisfying the specified requirements.

See Also
--------
empty_like : Return an empty array with shape and type of input.
ones_like : Return an array of ones with shape and type of input.
zeros_like : Return an array of zeros with shape and type of input.
full_like : Return a new array with shape of input filled with value.
empty : Return a new uninitialized array.
ones : Return a new array setting values to one.
zeros : Return a new array setting values to zero.
full : Return a new array of given shape filled with value.


Notes
-----
When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
and a copy is forced by a change in dtype, then the order of the result is
not necessarily 'C' as expected. This is likely a bug.

Examples
--------
>>> np.array([1, 2, 3])
array([1, 2, 3])

Upcasting:

>>> np.array([1, 2, 3.0])
array([ 1.,  2.,  3.])

More than one dimension:

>>> np.array([[1, 2], [3, 4]])
array([[1, 2],
       [3, 4]])

Minimum dimensions 2:

>>> np.array([1, 2, 3], ndmin=2)
array([[1, 2, 3]])

Type provided:

>>> np.array([1, 2, 3], dtype=complex)
array([ 1.+0.j,  2.+0.j,  3.+0.j])

Data-type consisting of more than one element:

>>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
>>> x['a']
array([1, 3])

Creating an array from sub-classes:

>>> np.array(np.mat('1 2; 3 4'))
array([[1, 2],
       [3, 4]])

>>> np.array(np.mat('1 2; 3 4'), subok=True)
matrix([[1, 2],
        [3, 4]])

#### 6. Create a null vector of size 10 but the fifth value which is 1 (★☆☆)

In [102]:
n = 10
a_6 = np.zeros(n)
a_6[4] = 1

#### 7. Create a vector with values ranging from 10 to 49 (★☆☆)

In [103]:
n = 10
m = 49
a_7 = np.arange(n, m+1)

#### 8. Reverse a vector (first element becomes last) (★☆☆)

In [104]:
a_8 = a_7[::-1]

#### 9. Create a 3x3 matrix with values ranging from 0 to 8 (★☆☆)

In [105]:
a_9 = np.arange(9)
a_9 = np.reshape(a_9, (3, 3))
a_9

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### 10. Find indices of non-zero elements from [1,2,0,0,4,0] (★☆☆)

In [106]:
a_10 = [1,2,0,0,4,0]
res_10 = np.nonzero(a_10)
res_10[0]

array([0, 1, 4])

#### 11. Create a 3x3 identity matrix (★☆☆)

In [107]:
a_11 = np.identity(3)
a_11

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### 12. Create a 3x3x3 array with random values (★☆☆)

In [108]:
a_12 = np.random.random((3,3,3))
a_12

array([[[0.92077734, 0.85581206, 0.15864873],
        [0.87984516, 0.32998114, 0.41261662],
        [0.42327217, 0.97195255, 0.41963926]],

       [[0.77136746, 0.503171  , 0.51918183],
        [0.6046733 , 0.4129633 , 0.72623609],
        [0.39973817, 0.23041503, 0.94545123]],

       [[0.75190358, 0.15492849, 0.95901072],
        [0.16777084, 0.64530152, 0.25550062],
        [0.2433472 , 0.3150653 , 0.37190616]]])

#### 13. Create a 10x10 array with random values and find the minimum and maximum values (★☆☆)

In [109]:
a_13 = np.random.random((10,10))
f'min: {np.min(a_13)}, max: {np.max(a_13)}'

'min: 0.0007102023836607074, max: 0.9977397185978809'

#### 14. Create a random vector of size 30 and find the mean value (★☆☆)

In [110]:
a_14 = np.random.random(14)
a_14.mean()

0.5282943966623107

#### 15. Create a 2d array with 1 on the border and 0 inside (★☆☆)

In [111]:
a_15 = np.zeros((10,10))
a_15[0] = 1
a_15[-1] = 1
a_15[:, 0] = 1
a_15[:, -1] = 1
a_15

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

#### 16. How to add a border (filled with 0's) around an existing array? (★☆☆)

In [112]:
a_16 = np.pad(a_15,(1,1), mode='constant')
a_16

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

#### 17. What is the result of the following expression? (★☆☆)<br>
0 * np.nan<br>
np.nan == np.nan<br>
np.inf > np.nan<br>
np.nan - np.nan<br>
np.nan in set([np.nan])<br>
 0.3 == 3 * 0.1<br>

In [113]:
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1

False

#### 18. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal (★☆☆)

In [114]:
a_18 = np.diagflat([1, 2, 3, 4], -1)
a_18

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

#### 19. Create a 8x8 matrix and fill it with a checkerboard pattern (★☆☆)

In [115]:
a_19 = np.ones((8, 8))
a_19[::2, ::2] = 0
a_19[1::2,1::2] = 0
a_19

array([[0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.]])

#### 20. Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element? (★☆☆)

In [116]:
a_20 = np.array((6,7,8))
res_20 = np.unravel_index(100, (6, 7, 8))
res_20

(1, 5, 4)

#### 21. Create a checkerboard 8x8 matrix using the tile function (★☆☆)

In [117]:
a_21 = np.tile([[0, 1],[1, 0]], (4, 4))
a_21

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

#### 22. Normalize a 5x5 random matrix (★☆☆)

In [118]:
a_22 = np.random.random((5, 5))
res_22 = np.around((a_22 - np.mean(a_22)) / np.std(a_22), decimals=2)
res_22

array([[ 0.85,  1.04,  0.89,  0.75, -1.29],
       [-1.2 ,  0.9 , -0.35,  0.51,  0.55],
       [ 0.49,  0.82,  1.32, -1.32, -1.44],
       [-0.4 , -1.02, -1.71,  0.09, -0.84],
       [-0.03, -1.66,  1.11,  1.14,  0.8 ]])

#### 23. Create a custom dtype that describes a color as four unsigned bytes (RGBA) (★☆☆)

In [119]:
a_23 = np.dtype([("r", np.ubyte, 1), ("g", np.ubyte, 1), ("b", np.ubyte, 1), ("a", np.ubyte, 1)])
a_23

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  """Entry point for launching an IPython kernel.

dtype([('r', 'u1'), ('g', 'u1'), ('b', 'u1'), ('a', 'u1')])

#### 24. Multiply a 5x3 matrix by a 3x2 matrix (real matrix product) (★☆☆)

In [120]:
A = np.random.random((5, 3))
B = np.random.random((3, 2))
a_24 = np.dot(A, B)
a_24

array([[1.79818234, 1.20445918],
       [0.75053174, 0.57381461],
       [0.37252612, 0.43381983],
       [0.58420032, 0.36403973],
       [1.67369646, 1.07240834]])

#### 25. Given a 1D array, negate all elements which are between 3 and 8, in place. (★☆☆)

In [121]:
a_25 = np.random.random((10)) * 10
a_25 = np.where((a_25 > 7) | (a_25 < 4), a_25, a_25 * -1)
a_25

array([8.76513115, 3.16959176, 8.88758363, 3.52930764, 3.59217144,
       0.2782493 , 8.45982149, 1.29666388, 3.72185808, 7.71982692])

#### 26. What is the output of the following script? (★☆☆)

In [122]:
print(sum(range(5),-1))
from numpy import *
print(sum(range(5),-1))

10
10

#### 27. Consider an integer vector Z, which of these expressions are legal? (★☆☆)
* Z**Z
* 2 << Z >> 2
* Z <- Z
* 1j*Z
* Z/1/1
* Z<Z>Z

#### 28. What are the result of the following expressions?

* print(np.array(0) / np.array(0))
* print(np.array(0) // np.array(0))
* print(np.array([np.nan]).astype(int).astype(float))

#### 29. How to round away from zero a float array ? (★☆☆)

In [123]:
a_29 = a_25
a_29 = np.where(a_29 > 0, a_29, np.floor(a_29))
a_29 = np.where(a_29 < 0, a_29, np.ceil(a_29))
a_29

array([9., 4., 9., 4., 4., 1., 9., 2., 4., 8.])

#### 30. How to find common values between two arrays? (★☆☆)

In [124]:
a_30 = np.intersect1d(a_29, a_25)
a_30

array([], dtype=float64)

#### 31. How to ignore all numpy warnings (not recommended)? (★☆☆)

In [125]:
# np.seterr(all='ignore')

#### 32. Is the following expressions true? (★☆☆)

In [126]:
np.sqrt(-1) == np.emath.sqrt(-1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

False

####  33. How to get the dates of yesterday, today and tomorrow? (★☆☆)

In [127]:
print(np.datetime64('today'))
print(np.datetime64('today') - 1)
print(np.datetime64('today') + 1)

2022-10-26
2022-10-25
2022-10-27

#### 34. How to get all the dates corresponding to the month of July 2016? (★★☆)

In [128]:
a_34 = np.arange('2016-07', '2016-08', dtype='datetime64[D]')
a_34

array(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
       '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
       '2016-07-09', '2016-07-10', '2016-07-11', '2016-07-12',
       '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-16',
       '2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20',
       '2016-07-21', '2016-07-22', '2016-07-23', '2016-07-24',
       '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28',
       '2016-07-29', '2016-07-30', '2016-07-31'], dtype='datetime64[D]')

#### 35. How to compute ((A+B)*(-A/2)) in place (without copy)? (★★☆)

In [129]:
A = np.random.random((10)) * 9
B = np.random.random((10)) * 10
np.add(A, B, out=B)
np.divide(A,2,out=A)
np.negative(A,out=A)
np.multiply(A,B,out=A)

array([ -7.72285355,  -9.17711181, -55.46532679, -19.2430906 ,
        -5.74606328, -40.70839338, -20.604392  , -57.34935131,
        -3.04615597, -54.06962946])

#### 36. Extract the integer part of a random array using 5 different methods (★★☆)

In [130]:
Z = np.random.uniform(0,10,10)
print(np.floor(Z))
print(np.ceil(Z)-1)
print(np.trunc(Z))
print(Z.astype(int))

[5. 2. 3. 6. 8. 1. 7. 3. 7. 3.]
[5. 2. 3. 6. 8. 1. 7. 3. 7. 3.]
[5. 2. 3. 6. 8. 1. 7. 3. 7. 3.]
[5 2 3 6 8 1 7 3 7 3]

#### 37. Create a 5x5 matrix with row values ranging from 0 to 4 (★★☆)

In [131]:
a_37 = np.arange(0, 5)
res_37 = np.tile(a_37, (5, 1)).astype(float)
res_37

array([[0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.]])

#### 38. Consider a generator function that generates 10 integers and use it to build an array (★☆☆)

In [132]:
a_38 = range(10)
res_38 = np.fromiter(a_38, dtype=float)
res_38

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

#### 39. Create a vector of size 10 with values ranging from 0 to 1, both excluded (★★☆)

In [133]:
a_39 = np.linspace(0, 1, 12, dtype=float)
a_39 = a_39[1:-1]
a_39 = np.around(a_39, decimals=3)
a_39

array([0.091, 0.182, 0.273, 0.364, 0.455, 0.545, 0.636, 0.727, 0.818,
       0.909])

#### 40. Create a random vector of size 10 and sort it (★★☆)

In [134]:
a_40 = np.random.random(n)
a_40.sort()
a_40

array([0.00154403, 0.04861812, 0.20383229, 0.37998798, 0.39772137,
       0.43975942, 0.68318886, 0.77900503, 0.91568736, 0.97293786])